@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway/raleway-regular-webfont.eot');
    src: url('../fonts/raleway/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-regular-webfont.woff') format('woff'),
         url('../fonts/raleway/raleway-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    
}

@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway/raleway-light-webfont.eot');
    src: url('../fonts/raleway/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-light-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-light-webfont.woff') format('woff'),
         url('../fonts/raleway/raleway-light-webfont.ttf') format('truetype');
    font-weight: normal;
    
}

@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway/raleway-bold-webfont.eot');
    src: url('../fonts/raleway/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-bold-webfont.woff') format('woff'),
         url('../fonts/raleway/raleway-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    
}

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto/roboto-bold-webfont.eot');
    src: url('../fonts/roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-bold-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto-bold-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto/roboto-light-webfont.eot');
    src: url('../fonts/roboto/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-light-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto-light-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto/roboto-regular-webfont.eot');
    src: url('../fonts/roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto/roboto-medium-webfont.eot');
    src: url('../fonts/roboto/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-medium-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*@font-face {
    font-family: 'daxbold';
    src: url('//s3.goingslowly.com/font/dax-bold-webfont.eot?');
    src: url('../fonts/dax/DaxBold.ttf')    format('truetype'),
         url('../fonts/dax/Dax-Bold.woff2') format('woff2'),
         url('../fonts/dax/Dax-Bold.svg')   format('svg'),
         url('../fonts/dax/Dax-Bold.otf')   format('otf'),
         url('../fonts/dax/Dax-Bold.woff')  format('woff');
    font-weight: normal;
    
}


@font-face {
    font-family: 'daxregular';
    src: url('//s3.goingslowly.com/font/dax-regular-webfont.eot?');
    src: url('../fonts/dax/DaxRegular.ttf')    format('truetype'),
         url('../fonts/dax/Dax-Regular.woff2') format('woff2'),
         url('../fonts/dax/Dax-Regular.svg')   format('svg'),
         url('../fonts/dax/Dax-Regular.otf')   format('otf'),
         url('../fonts/dax/Dax-regular.woff')  format('woff');
    font-weight: normal;
    
}*/

.modal-header{
    background-color: #484848;
    color: white;
    text-align: left;
    padding: 10px;
    font-family: 'ralewaybold';
    text-transform: uppercase;
}

/*progression animation*/ 

/* Waiting animation bar*/
#fountainG{        
	position:relative;
	width:234px;
	height:28px;
	margin:auto;
        
}
.fountainG{        
	position:absolute;
	top:0;
	background-color:rgb(245,146,24);
	width:28px;
	height:28px;
	animation-name:bounce_fountainG;
		-o-animation-name:bounce_fountainG;
		-ms-animation-name:bounce_fountainG;
		-webkit-animation-name:bounce_fountainG;
		-moz-animation-name:bounce_fountainG;
	animation-duration:0.715s;
		-o-animation-duration:0.715s;
		-ms-animation-duration:0.715s;
		-webkit-animation-duration:0.715s;
		-moz-animation-duration:0.715s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
	border-radius:19px;
		-o-border-radius:19px;
		-ms-border-radius:19px;
		-webkit-border-radius:19px;
		-moz-border-radius:19px;
}
#fountainG_1{
	left:0;
	animation-delay:0.286s;
		-o-animation-delay:0.286s;
		-ms-animation-delay:0.286s;
		-webkit-animation-delay:0.286s;
		-moz-animation-delay:0.286s;
}
#fountainG_2{
	left:29px;
	animation-delay:0.3525s;
		-o-animation-delay:0.3525s;
		-ms-animation-delay:0.3525s;
		-webkit-animation-delay:0.3525s;
		-moz-animation-delay:0.3525s;
}
#fountainG_3{
	left:58px;
	animation-delay:0.429s;
		-o-animation-delay:0.429s;
		-ms-animation-delay:0.429s;
		-webkit-animation-delay:0.429s;
		-moz-animation-delay:0.429s;
}
#fountainG_4{
	left:88px;
	animation-delay:0.4955s;
		-o-animation-delay:0.4955s;
		-ms-animation-delay:0.4955s;
		-webkit-animation-delay:0.4955s;
		-moz-animation-delay:0.4955s;
}
#fountainG_5{
	left:117px;
	animation-delay:0.572s;
		-o-animation-delay:0.572s;
		-ms-animation-delay:0.572s;
		-webkit-animation-delay:0.572s;
		-moz-animation-delay:0.572s;
}
#fountainG_6{
	left:146px;
	animation-delay:0.6385s;
		-o-animation-delay:0.6385s;
		-ms-animation-delay:0.6385s;
		-webkit-animation-delay:0.6385s;
		-moz-animation-delay:0.6385s;
}
#fountainG_7{
	left:175px;
	animation-delay:0.715s;
		-o-animation-delay:0.715s;
		-ms-animation-delay:0.715s;
		-webkit-animation-delay:0.715s;
		-moz-animation-delay:0.715s;
}
#fountainG_8{
	left:205px;
	animation-delay:0.7815s;
		-o-animation-delay:0.7815s;
		-ms-animation-delay:0.7815s;
		-webkit-animation-delay:0.7815s;
		-moz-animation-delay:0.7815s;
}
@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
		background-color:rgb(240,160,22);
	}
	100%{
	transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}
@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
		background-color:rgb(240,160,22);
	}
	100%{
	-o-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}
@-ms-keyframes bounce_fountainG{
	0%{
	-ms-transform:scale(1);
		background-color:rgb(240,160,22);
	}

	100%{
	-ms-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}
@-webkit-keyframes bounce_fountainG{
	0%{
	-webkit-transform:scale(1);
		background-color:rgb(240,160,22);
	}

	100%{
	-webkit-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}
@-moz-keyframes bounce_fountainG{
	0%{
	-moz-transform:scale(1);
		background-color:rgb(240,160,22);
	}

	100%{
	-moz-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}
#fountainV{        
	position:relative;
	width:234px;
	height:28px;
	margin:auto;
        
}
.fountainV{        
	position:absolute;
	top:0;
	background-color:rgb(245,146,24);
	width:28px;
	height:28px;
	animation-name:bounce_fountainG;
		-o-animation-name:bounce_fountainG;
		-ms-animation-name:bounce_fountainG;
		-webkit-animation-name:bounce_fountainG;
		-moz-animation-name:bounce_fountainG;
	animation-duration:0.715s;
		-o-animation-duration:0.715s;
		-ms-animation-duration:0.715s;
		-webkit-animation-duration:0.715s;
		-moz-animation-duration:0.715s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
	border-radius:19px;
		-o-border-radius:19px;
		-ms-border-radius:19px;
		-webkit-border-radius:19px;
		-moz-border-radius:19px;
}
#fountain{        
	position:relative;
	width:234px;
	height:28px;
	margin:auto;
        
}
.fountain{        
	position:absolute;
	top:0;
	background-color:rgb(245,146,24);
	width:28px;
	height:28px;
	animation-name:bounce_fountainG;
		-o-animation-name:bounce_fountainG;
		-ms-animation-name:bounce_fountainG;
		-webkit-animation-name:bounce_fountainG;
		-moz-animation-name:bounce_fountainG;
	animation-duration:0.715s;
		-o-animation-duration:0.715s;
		-ms-animation-duration:0.715s;
		-webkit-animation-duration:0.715s;
		-moz-animation-duration:0.715s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
	border-radius:19px;
		-o-border-radius:19px;
		-ms-border-radius:19px;
		-webkit-border-radius:19px;
		-moz-border-radius:19px;
}
#fountainG_1{
	left:0;
	animation-delay:0.286s;
		-o-animation-delay:0.286s;
		-ms-animation-delay:0.286s;
		-webkit-animation-delay:0.286s;
		-moz-animation-delay:0.286s;
}
#fountainG_2{
	left:29px;
	animation-delay:0.3525s;
		-o-animation-delay:0.3525s;
		-ms-animation-delay:0.3525s;
		-webkit-animation-delay:0.3525s;
		-moz-animation-delay:0.3525s;
}
#fountainG_3{
	left:58px;
	animation-delay:0.429s;
		-o-animation-delay:0.429s;
		-ms-animation-delay:0.429s;
		-webkit-animation-delay:0.429s;
		-moz-animation-delay:0.429s;
}
#fountainG_4{
	left:88px;
	animation-delay:0.4955s;
		-o-animation-delay:0.4955s;
		-ms-animation-delay:0.4955s;
		-webkit-animation-delay:0.4955s;
		-moz-animation-delay:0.4955s;
}
#fountainG_5{
	left:117px;
	animation-delay:0.572s;
		-o-animation-delay:0.572s;
		-ms-animation-delay:0.572s;
		-webkit-animation-delay:0.572s;
		-moz-animation-delay:0.572s;
}
#fountainG_6{
	left:146px;
	animation-delay:0.6385s;
		-o-animation-delay:0.6385s;
		-ms-animation-delay:0.6385s;
		-webkit-animation-delay:0.6385s;
		-moz-animation-delay:0.6385s;
}
#fountainG_7{
	left:175px;
	animation-delay:0.715s;
		-o-animation-delay:0.715s;
		-ms-animation-delay:0.715s;
		-webkit-animation-delay:0.715s;
		-moz-animation-delay:0.715s;
}
#fountainG_8{
	left:205px;
	animation-delay:0.7815s;
		-o-animation-delay:0.7815s;
		-ms-animation-delay:0.7815s;
		-webkit-animation-delay:0.7815s;
		-moz-animation-delay:0.7815s;
}
@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
		background-color:rgb(240,160,22);
	}
	100%{
	transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}
@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
		background-color:rgb(240,160,22);
	}
	100%{
	-o-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}
@-ms-keyframes bounce_fountainG{
	0%{
	-ms-transform:scale(1);
		background-color:rgb(240,160,22);
	}

	100%{
	-ms-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}
@-webkit-keyframes bounce_fountainG{
	0%{
	-webkit-transform:scale(1);
		background-color:rgb(240,160,22);
	}

	100%{
	-webkit-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}
@-moz-keyframes bounce_fountainG{
	0%{
	-moz-transform:scale(1);
		background-color:rgb(240,160,22);
	}

	100%{
	-moz-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}
/*waiting animation circle*/
#floatingBarsG{
	position:relative;
	width:60px;
	height:75px;
	margin:auto;
}

.blockG{
	position:absolute;
	background-color:rgb(255,255,255);
	width:10px;
	height:23px;
	border-radius:8px 8px 0 0;
		-o-border-radius:8px 8px 0 0;
		-ms-border-radius:8px 8px 0 0;
		-webkit-border-radius:8px 8px 0 0;
		-moz-border-radius:8px 8px 0 0;
	transform:scale(0.4);
		-o-transform:scale(0.4);
		-ms-transform:scale(0.4);
		-webkit-transform:scale(0.4);
		-moz-transform:scale(0.4);
	animation-name:fadeG;
		-o-animation-name:fadeG;
		-ms-animation-name:fadeG;
		-webkit-animation-name:fadeG;
		-moz-animation-name:fadeG;
	animation-duration:0.572s;
		-o-animation-duration:0.572s;
		-ms-animation-duration:0.572s;
		-webkit-animation-duration:0.572s;
		-moz-animation-duration:0.572s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#rotateG_01{
	left:0;
	top:27px;
	animation-delay:0.2095s;
		-o-animation-delay:0.2095s;
		-ms-animation-delay:0.2095s;
		-webkit-animation-delay:0.2095s;
		-moz-animation-delay:0.2095s;
	transform:rotate(-90deg);
		-o-transform:rotate(-90deg);
		-ms-transform:rotate(-90deg);
		-webkit-transform:rotate(-90deg);
		-moz-transform:rotate(-90deg);
}

#rotateG_02{
	left:8px;
	top:10px;
	animation-delay:0.286s;
		-o-animation-delay:0.286s;
		-ms-animation-delay:0.286s;
		-webkit-animation-delay:0.286s;
		-moz-animation-delay:0.286s;
	transform:rotate(-45deg);
		-o-transform:rotate(-45deg);
		-ms-transform:rotate(-45deg);
		-webkit-transform:rotate(-45deg);
		-moz-transform:rotate(-45deg);
}

#rotateG_03{
	left:25px;
	top:3px;
	animation-delay:0.3525s;
		-o-animation-delay:0.3525s;
		-ms-animation-delay:0.3525s;
		-webkit-animation-delay:0.3525s;
		-moz-animation-delay:0.3525s;
	transform:rotate(0deg);
		-o-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
}

#rotateG_04{
	right:8px;
	top:10px;
	animation-delay:0.429s;
		-o-animation-delay:0.429s;
		-ms-animation-delay:0.429s;
		-webkit-animation-delay:0.429s;
		-moz-animation-delay:0.429s;
	transform:rotate(45deg);
		-o-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
}

#rotateG_05{
	right:0;
	top:27px;
	animation-delay:0.4955s;
		-o-animation-delay:0.4955s;
		-ms-animation-delay:0.4955s;
		-webkit-animation-delay:0.4955s;
		-moz-animation-delay:0.4955s;
	transform:rotate(90deg);
		-o-transform:rotate(90deg);
		-ms-transform:rotate(90deg);
		-webkit-transform:rotate(90deg);
		-moz-transform:rotate(90deg);
}

#rotateG_06{
	right:8px;
	bottom:7px;
	animation-delay:0.572s;
		-o-animation-delay:0.572s;
		-ms-animation-delay:0.572s;
		-webkit-animation-delay:0.572s;
		-moz-animation-delay:0.572s;
	transform:rotate(135deg);
		-o-transform:rotate(135deg);
		-ms-transform:rotate(135deg);
		-webkit-transform:rotate(135deg);
		-moz-transform:rotate(135deg);
}

#rotateG_07{
	bottom:0;
	left:25px;
	animation-delay:0.6385s;
		-o-animation-delay:0.6385s;
		-ms-animation-delay:0.6385s;
		-webkit-animation-delay:0.6385s;
		-moz-animation-delay:0.6385s;
	transform:rotate(180deg);
		-o-transform:rotate(180deg);
		-ms-transform:rotate(180deg);
		-webkit-transform:rotate(180deg);
		-moz-transform:rotate(180deg);
}

#rotateG_08{
	left:8px;
	bottom:7px;
	animation-delay:0.715s;
		-o-animation-delay:0.715s;
		-ms-animation-delay:0.715s;
		-webkit-animation-delay:0.715s;
		-moz-animation-delay:0.715s;
	transform:rotate(-135deg);
		-o-transform:rotate(-135deg);
		-ms-transform:rotate(-135deg);
		-webkit-transform:rotate(-135deg);
		-moz-transform:rotate(-135deg);
}



@keyframes fadeG{
	0%{
		background-color:rgb(240,184,14);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes fadeG{
	0%{
		background-color:rgb(240,184,14);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes fadeG{
	0%{
		background-color:rgb(240,184,14);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes fadeG{
	0%{
		background-color:rgb(240,184,14);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes fadeG{
	0%{
		background-color:rgb(240,184,14);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}


	
/* PLACEZ LE CSS AU DESSUS DES MEDIA QUERY SVP */
	
	