.box > .icon { 
    text-align: 
    center; 
    position: 
    relative; 
    }
.box > .icon > .image { 
    position: relative; 
    z-index: 2; 
    margin: auto; 
    width: 88px; 
    height: 88px; 
    border: 8px solid #f5f5f5; 
    line-height: 88px; 
    border-radius: 50%; 
    background: #20b2aa; 
    vertical-align: middle; 
    }
.box > .icon > .image > i { 
    font-size: 36px !important; 
    color: #fff !important; 
    }
.box > .icon:hover > .image > i { 
    color: white !important; 
    }
.box > .icon > .info { 
    margin-top: -24px; 
    background: white; 
    border: 1px solid #e0e0e0; 
    padding: 25px 0 10px 0; 
    }
.box > .icon > .info > h3.title { 
    font-family: sans-serif !important; 
    font-size: 16px; 
    color: #222; 
    font-weight: 500; 
    }
.box > .icon > .info > p { 
    font-family: sans-serif !important; 
    font-size: 13px; 
    color: #666; 
    line-height: 1.5em; 
    margin: 20px;
    }
.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { 
    color: #222; 
    }
.box > .icon > .info > .more a { 
    font-family: sans-serif !important; 
    font-size: 12px; 
    color: #222; 
    line-height: 12px; 
    text-transform: uppercase; 
    text-decoration: none; 
    }
.box > .icon:hover > .info > .more > a { 
    color: #fff; 
    padding: 6px 8px; 
    background-color: #FF9800; 
    }
.box .space { 
    height: 30px; 
    }  
    .card .card-statistic-3{position:relative;color:#fff;padding:15px;border-radius:3px;overflow:hidden}.card .card-statistic-3 .card-icon-large{font-size:110px;width:110px;height:50px;text-shadow:3px 7px rgba(0,0,0,0.3)}.card .card-statistic-3 .card-icon{text-align:center;line-height:50px;margin-left:15px;color:#000;position:absolute;right:-5px;top:20px;opacity:0.1}.card .card-statistic-3 .banner-img img{max-width:100%}.card .card-statistic-4{position:relative;padding:15px;border-radius:3px;overflow:hidden}.card .card-statistic-4 .card-icon-large{font-size:110px;width:110px;height:50px;text-shadow:3px 7px rgba(0,0,0,0.3)}.card .card-statistic-4 .card-icon{text-align:center;line-height:50px;margin-left:15px;color:#000;position:absolute;right:-5px;top:20px;opacity:0.1}.card .card-statistic-4 .banner-img img{max-width:100%;float:right}.card .card-statistic-4 .c-icon{width:50px;height:50px;position:absolute;top:40px;font-size:25px;border-radius:8px;display:-webkit-box;display:-ms-flexbox;display:flex;color:#fff;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out}.card .card-statistic-5{position:relative;padding:15px;border-radius:3px;overflow:hidden}.card .card-statistic-5 .card-icon-large{font-size:110px;width:110px;height:50px;text-shadow:3px 7px rgba(0,0,0,0.3)}.card .card-statistic-5 .card-icon{text-align:center;line-height:50px;margin-left:15px;color:#000;position:absolute;right:-5px;top:20px;opacity:0.1}.card .card-statistic-5 .banner-img img{max-width:100%;float:right}.card .card-statistic-5 .c-icon{width:50px;height:50px;position:absolute;top:10px;font-size:25px;border-radius:8px;display:-webkit-box;display:-ms-flexbox;display:flex;color:#fff;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out}
    .l-bg-style1{background:linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b) !important;color:#fff}.l-bg-style1 .content .text,.l-bg-style1 .content .number{color:#fff !important}.l-bg-style2{background:linear-gradient(to left, #283c86, #45a247) !important;color:#fff}.l-bg-style2 .content .text,.l-bg-style2 .content .number{color:#fff !important}.l-bg-style3{background:linear-gradient(to left, #904e95, #e96443) !important;color:#fff}.l-bg-style3 .content .text,.l-bg-style3 .content .number{color:#fff !important}.l-bg-style4{background:linear-gradient(to right, #2e1437, #948e99) !important;color:#fff}.l-bg-style4 .content .text,.l-bg-style4 .content .number{color:#fff !important}.col-red{color:#f44336 !important}
